@page
@model SFundR.Web.Pages.ProjectDetails.UnapprovedModel

<h2>Unapproved To Do Items (Razor Page)</h2>
<ul>
    @if (Model.TimeItems != null)
    {
        @foreach (var item in Model.TimeItems)
        {
            <li>
                @item.Comment
                @if (item.IsApproved)
                {
                    <span>DONE!</span>
                }
                else
                {
                    <span>NOT DONE</span>
                }
                <br/>@item.Date
                <br/>@item.WorkTimeHours
            </li>
        }
    }
</ul>