@page "{ProjectId}"
@model SFundR.Web.Pages.ProjectDetails.IndexModel

@if (!string.IsNullOrEmpty(Model.Message))
{
    <h2>@Model.Message</h2>
}
else
{
    <h2>Project (Razor Page)</h2>

    <h3>Name: @Model.Project?.Name</h3>

    <b>Items:</b>

    <ul>
        @if (Model.Project != null)
        {
            @foreach (var item in Model.Project.Items)
            {
                <li>
                    @item.Comment
                    @if (item.IsApproved)
                    {
                        <span>DONE!</span>
                    }
                    else
                    {
                        <span>NOT DONE</span>
                    }
                    <br/>@item.Date
                </li>
            }
        }
    </ul>
}